*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  width: 100%;
  font-family: "Lato", Arial, Sans-serif;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: [sidebar-start] 0rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

a {
  text-decoration: none;
  outline: none;
  color: #333333; }

ul {
  list-style-type: none; }

.btn,
.btn:link,
.btn:visited {
  text-decoration: none;
  transition: all 0.2s;
  border: none;
  cursor: pointer; }

.btn:active {
  transform: translateY(0.5rem); }

.btn:hover {
  transform: translateY(-0.5rem); }

.main-header {
  grid-column: center-start / center-end;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 1rem;
  font-size: 1.25rem; }
  .main-header__logo {
    margin-top: 1rem; }
  .main-header__title {
    display: none; }
  .main-header__info {
    display: inline-block; }
    .main-header__info span {
      padding: 0.5rem; }

.main-navigation {
  grid-column: center-start / center-end;
  font-size: 2rem;
  position: relative; }
  .main-navigation::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100vw;
    border-bottom: 1px solid #eeeeee; }
  .main-navigation__list {
    text-align: left;
    margin: 1.5rem 0; }
  .main-navigation__item {
    display: inline-block;
    padding: 1.5rem 1.5rem 0rem 1.5rem;
    position: relative; }
  .main-navigation__item:hover > .main-navigation__link {
    color: #999999; }
  .main-navigation__item:hover > .main-navigation__dropdown-list {
    visibility: visible; }
  .main-navigation__link {
    color: #333333; }
  .main-navigation__dropdown-list {
    visibility: hidden;
    position: absolute;
    top: 5rem;
    left: 0.75rem;
    background-color: rgba(51, 51, 51, 0.95);
    padding: 1.5rem;
    width: 20rem;
    border-radius: 0.5rem;
    z-index: 99; }
  .main-navigation__dropdown-list.active {
    visibility: visible;
    opacity: 1; }
  .main-navigation__dropdown-list::before {
    content: "";
    position: absolute;
    top: -0.8rem;
    left: 0.75rem;
    width: 2rem;
    height: 2rem;
    background-color: rgba(51, 51, 51, 0.9);
    transform: rotate(44deg); }
  .main-navigation__dropdown-item {
    font-size: 1.35rem;
    padding: 2rem 2rem 2rem 1rem;
    width: 100%; }
  .main-navigation__dropdown-link {
    color: #999999;
    display: inline-block;
    cursor: pointer; }
  .main-navigation__dropdown-link:hover {
    color: #fff;
    display: inline-block; }

.promo-banner {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 0.5rem;
  padding: 3rem 0;
  position: relative; }
  .promo-banner:after {
    content: "";
    background-color: #999999;
    opacity: 0.25;
    position: absolute;
    top: 5rem;
    left: 5rem;
    width: 100%;
    height: 95%;
    z-index: -1; }
  .promo-banner__item {
    display: flex; }
  .promo-banner__item--1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2; }
  .promo-banner__item--2 {
    grid-column: 3 / 4;
    grid-row: 1 / span 2; }
  .promo-banner__item--3 {
    grid-column: 1 / span 2;
    grid-row: 2 / 3; }
  .promo-banner__item--4 {
    grid-column: 2 / 3; }
  .promo-banner__image {
    width: 100%;
    object-fit: cover;
    display: block;
    border: 1px solid #eeeeee; }

.featured-product__heading {
  grid-column: center-start / center-end;
  color: #333333;
  margin: 5rem 0 4rem 0;
  font-weight: 300;
  font-size: 2.5rem; }

.featured-product__container {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(3, minmax(20rem, 1fr));
  grid-gap: 2rem; }

.featured-product__box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 3rem;
  border: 1px solid #eeeeee;
  box-shadow: 3px 6px 8px #eeeeee;
  padding: 1.5rem;
  transition: all 0.8s ease; }

.featured-product__box:hover {
  transform: translateY(1rem); }

.featured-product__image {
  width: 100%;
  grid-column: 1 / span 2;
  grid-row: 1 / 2;
  border-bottom: 1px solid #eeeeee; }

.featured-product__details {
  grid-column: 1 / span 2;
  margin: 2rem 0; }
  .featured-product__details-name {
    font-weight: 300;
    padding-top: 1.5rem;
    padding-left: 1.5rem; }
  .featured-product__details-price {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    padding: 1.5rem 0 1.5rem 1.5rem;
    font-size: 2rem; }

.featured-product__btn {
  text-align: center;
  grid-column: 1 / span 2;
  justify-self: center;
  align-self: center;
  padding: 1rem 2.5rem;
  margin-bottom: 2rem;
  background-color: #333333;
  box-shadow: 3px 3px 5px #eeeeee; }
  .featured-product__btn a {
    color: #fff; }

.featured-product__btn:hover {
  background-color: #4d4d4d; }

.footer-link {
  grid-column: center-start / center-end; }
  .footer-link::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100vw;
    border-top: 1px solid #eeeeee; }
  .footer-link__container {
    display: grid;
    grid-template-columns: repeat(2, minmax(20rem, 1fr));
    margin: 2rem 0; }
  .footer-link__nav {
    grid-column: 1 / 2; }
    .footer-link__nav--title {
      padding: 2rem 0; }
    .footer-link__nav--list {
      padding-bottom: 1.5rem; }
    .footer-link__nav--item {
      padding-bottom: 1.5rem; }
      .footer-link__nav--item a {
        color: #999999; }
  .footer-link__contact {
    grid-column: 2 / 3; }
    .footer-link__contact--email, .footer-link__contact--phone {
      padding-bottom: 1.5rem; }
      .footer-link__contact--email a, .footer-link__contact--phone a {
        color: #999999; }

.main-footer {
  grid-column: sidebar-start / full-end;
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eeeeee;
  padding: 2.25rem 10rem;
  color: #999999; }

@media (max-width: 1500px) {
  .featured-product__container {
    grid-template-columns: repeat(2, 1fr); } }

@media (max-width: 1050px) {
  .main-header__info {
    display: flex;
    flex-direction: column;
    padding: 1rem 0; } }

@media (max-width: 900px) {
  .main-header {
    flex-direction: column; }
    .main-header__info {
      align-self: flex-end; }
  .main-footer {
    flex-direction: column; }
    .main-footer__copyright {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem; } }

@media (max-width: 700px) {
  .featured-product__container {
    grid-template-columns: 1fr; } }
