$textColor: #333333;
$white: #fff;
$grey: #999999;
$grey-light: #eeeeee;
$grey-secondary: #4d4d4d;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  width: 100%;
  font-family: "Lato", Arial, Sans-serif;
  font-size: 1.5rem;

  display: grid;
  grid-template-columns:
    [sidebar-start] 0rem [sidebar-end full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr)
    [full-end];
}

a {
  text-decoration: none;
  outline: none;
  color: $textColor;
}

ul {
  list-style-type: none;
}

.btn,
.btn:link,
.btn:visited {
  text-decoration: none;
  transition: all 0.2s;
  border: none;
  cursor: pointer;
}

.btn:active {
  transform: translateY(0.5rem);
}

.btn:hover {
  transform: translateY(-0.5rem);
}

.main-header {
  grid-column: center-start / center-end;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 1rem;
  font-size: 1.25rem;

  &__logo {
    margin-top: 1rem;
  }

  &__title {
    display: none;
  }

  &__info {
    display: inline-block;
    & span {
      padding: 0.5rem;
    }
  }
}

.main-navigation {
  grid-column: center-start / center-end;
  font-size: 2rem;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100vw;
    border-bottom: 1px solid $grey-light;
  }

  &__list {
    text-align: left;
    margin: 1.5rem 0;
  }

  &__item {
    display: inline-block;
    padding: 1.5rem 1.5rem 0rem 1.5rem;
    position: relative;
  }

  &__item:hover > &__link {
    color: $grey;
  }

  &__item:hover > &__dropdown-list {
    visibility: visible;
  }

  &__link {
    color: $textColor;
  }

  &__dropdown-list {
    visibility: hidden;
    position: absolute;
    top: 5rem;
    left: 0.75rem;
    background-color: rgba(51, 51, 51, 0.95);
    padding: 1.5rem;
    width: 20rem;
    border-radius: 0.5rem;
    z-index: 99;
  }

  &__dropdown-list.active {
    visibility: visible;
    opacity: 1;
  }

  &__dropdown-list::before {
    content: "";
    position: absolute;
    top: -0.8rem;
    left: 1rem;
    width: 1.8rem;
    height: 2rem;
    background-color: rgba(51, 51, 51, 0.9);
    transform: rotate(44deg);
  }

  &__dropdown-item {
    font-size: 1.35rem;
    padding: 2rem 2rem 2rem 1rem;
    width: 100%;
  }

  &__dropdown-link {
    color: $grey;
    display: inline-block;
    cursor: pointer;
  }

  &__dropdown-link:hover {
    color: $white;
    display: inline-block;
  }
}

.promo-banner {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 0.5rem;
  padding: 3rem 0;
  position: relative;

  &:after {
    content: "";
    background-color: $grey;
    opacity: 0.25;
    position: absolute;
    top: 5rem;
    left: 5rem;
    width: 100%;
    height: 95%;
    box-shadow: 3px 6px 8px $grey-secondary;
    z-index: -1;
  }

  &__item {
    display: flex;
    box-shadow: 3px 6px 8px rgba(77, 77, 77, 0.25);
  }

  &__item--1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  &__item--2 {
    grid-column: 3 / 4;
    grid-row: 1 / span 2;
  }

  &__item--3 {
    grid-column: 1 / span 2;
    grid-row: 2 / 3;
  }

  &__item--4 {
    grid-column: 2 / 3;
  }

  &__image {
    width: 100%;
    object-fit: cover;
    display: block;
    border: 1px solid $grey-light;
  }
}

.featured-product {
  &__heading {
    grid-column: center-start / center-end;
    color: $textColor;
    margin: 5rem 0 4rem 0;
    font-weight: 300;
    font-size: 2.5rem;
  }

  &__container {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: repeat(3, minmax(20rem, 1fr));
    grid-gap: 2rem;
  }

  &__box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 3rem;
    border: 1px solid $grey-light;
    box-shadow: 3px 6px 8px $grey-light;
    padding: 1.5rem;
    transition: all 0.8s ease;
  }

  &__box:hover {
    transform: translateY(1rem);
  }

  &__image {
    width: 100%;
    grid-column: 1 / span 2;
    grid-row: 1 / 2;
    border-bottom: 1px solid $grey-light;
  }

  &__details {
    grid-column: 1 / span 2;
    margin: 2rem 0;

    &-name {
      font-weight: 300;
      padding-top: 1.5rem;
      padding-left: 1.5rem;
    }

    &-price {
      margin-top: 1.5rem;
      margin-bottom: 2rem;
      padding: 1.5rem 0 1.5rem 1.5rem;
      font-size: 2rem;
    }
  }

  &__btn {
    text-align: center;
    grid-column: 1 / span 2;
    justify-self: center;
    align-self: center;
    padding: 1rem 2.5rem;
    margin-bottom: 2rem;
    background-color: $textColor;
    box-shadow: 3px 3px 5px $grey-light;

    & a {
      color: $white;
    }
  }

  &__btn:hover {
    background-color: $grey-secondary;
  }
}

.footer-link {
  grid-column: center-start / center-end;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100vw;
    border-top: 1px solid $grey-light;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, minmax(20rem, 1fr));
    margin: 2rem 0;
  }

  &__nav {
    grid-column: 1 / 2;
    &--title {
      padding: 2rem 0;
    }

    &--list {
      padding-bottom: 1.5rem;
    }
    &--item {
      padding-bottom: 1.5rem;
      & a {
        color: $grey;
      }
    }
  }

  &__contact {
    grid-column: 2 / 3;
    &--email,
    &--phone {
      padding-bottom: 1.5rem;

      & a {
        color: $grey;
      }
    }
  }
}

.main-footer {
  grid-column: sidebar-start / full-end;
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $grey-light;
  padding: 2.25rem 10rem;
  color: $grey;
}

@media (max-width: 1500px) {
  .featured-product {
    &__container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 1050px) {
  .main-header {
    &__info {
      display: flex;
      flex-direction: column;
      padding: 1rem 0;
    }
  }
}

@media (max-width: 900px) {
  .main-header {
    flex-direction: column;
    &__info {
      align-self: flex-end;
    }
  }

  .main-footer {
    flex-direction: column;
    &__copyright {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }
}

@media (max-width: 700px) {
  .featured-product {
    &__container {
      grid-template-columns: 1fr;
    }
  }
}
